<div class="tab_head">
  <div class="row">
    <div class="col-md-12">
      <h3 class="tab_title"><i class="bi bi-speedometer2"></i> Addresses</h3>
      <p class="tab_desc">Your saved addresses that can be used on checkout page by default.</p>
    </div>
  </div>
</div>

<div class="all_addresses">
  <div class="row">
    <div class="col-md-6">
      <div class="single-address default_address">
        <div class="address_head">
          <div><h5 class="title">Home Address <span class="badge badge-success">Default</span></h5> </div>
          <div class="open_settings">
            <i class="fa fa-ellipsis-v"></i>
            <div class="settings_menu">
                <div class="single_setting"><a href="#">Edit</a></div>
                <div class="single_setting"><a href="#">Set Default</a></div>
                <div class="single_setting"><a href="#" style="color: red;">Remove</a></div>
            </div>
          </div>
        </div>
        <div class="address_body">
          <p>12345, Your Home Address, <br/>
          City, State - 000000</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="single-address">
        <div class="address_head">
          <div><h5 class="title">Office Address</h5></div>
          <div class="open_settings">
            <i class="fa fa-ellipsis-v"></i>
            <div class="settings_menu">
                <div class="single_setting"><a href="#">Edit</a></div>
                <div class="single_setting"><a href="#">Set Default</a></div>
                <div class="single_setting"><a href="#" style="color: red;">Remove</a></div>
            </div>
          </div>
        </div>
        <div class="address_body">
          <p>12345, Your Office Address, <br/>
          City, State - 000000</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="add_new_button">
          <a href="#" class="btn btn-success btn-lg">Add New Address</a>
      </div>
    </div>
  </div>
</div>