	<footer class="ps-footer">
        <div class="container-fluid">
            <div class="ps-footer--contact">
                <div class="row">
                    <div class="col-12 col-lg-5">
                        <p class="contact__title">Contact Us</p>
                        <p><b><i class="icon-telephone">&nbsp;</i>Hotline: </b><span>(7:00 - 21:30)</span></p>
                        <p class="telephone">097 978-6290<br>097 343-8888</p>
                        <p> <b>Head office: </b>8049 High Ridge St. Saint Joseph, MI 49085</p>
                        <p> <b>Email us: </b><a href="mailto:sdhinesh@gmail.com">sdhinesh@gmail.com</a></p>
                    </div>
                    <div class="col-12 col-lg-3">
                        <p class="contact__title">Help & Info<span class="footer-toggle"><i class="icon-chevron-down"></i></span></p>
                        <ul class="footer-list">
                            <li><a href="about">About Us</a></li>
                            <li><a href="contact">Contact</a></li>
                            <li><a href="terms">Terms of Use</a></li>
                            <li><a href="policy">Policy</a></li>
                            <li><a href="faqs">FAQs</a></li>
							<li><a href="merchant">Become a Vendor</a></li>
                        </ul>
                        <hr>
                    </div>
                    <div class="col-12 col-lg-4">
                        <p class="contact__title">Newsletter Subscription</p>
                        <p>Join our email subscription now to get updates on <b>promotions </b>and <b>coupons.</b></p>
                        <div class="input-group">
                            <div class="input-group-prepend"><i class="icon-envelope"></i></div>
                            <input class="form-control" type="text" placeholder="Enter your email...">
                            <div class="input-group-append">
                                <button class="btn">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ps-footer__copyright">
                <div class="col-12 col-lg-6 ps-footer__text">&copy; 2021 Yelo Bags. Powered By
				<a href="https://embtelsolutions.com/?utm_source=footer&amp;utm_medium=website&amp;utm_campaign=yelobags" target="_blank">Embtel Solutions, Inc</a>.</div>
                <div class="col-12 col-lg-6 ps-footer__social"> <a class="icon_social facebook" href="#"><i class="fa fa-facebook-f"></i></a><a class="icon_social twitter" href="#"><i class="fa fa-twitter"></i></a><a class="icon_social google" href="#"><i class="fa fa-google-plus"></i></a><a class="icon_social youtube" href="#"><i class="fa fa-youtube"></i></a><a class="icon_social wifi" href="#"><i class="fa fa-wifi"></i></a></div>
            </div>
        </div>
    </footer>
    <div class="ps-footer-mobile">
        <div class="menu__content">
            <ul class="menu--footer">
                <li class="nav-item"><a class="nav-link" href="home"><i class="icon-home3"></i><span>Home</span></a></li>
                <li class="nav-item"><a class="nav-link footer-category" href="javascript:void(0);"><i class="icon-list"></i><span>Category</span></a></li>
                <li class="nav-item"><a class="nav-link footer-cart" href="cart"><i class="icon-cart"></i><span class="badge bg-warning">3</span><span>Cart</span></a></li>
                <li class="nav-item"><a class="nav-link" href="wishlist"><i class="icon-heart"></i><span>Wishlist</span></a></li>
                <li class="nav-item"><a class="nav-link" href="login"><i class="icon-user"></i><span>Account</span></a></li>
            </ul>
        </div>
    </div>
    <button class="btn scroll-top"><i class="icon-chevron-up"></i></button>
    <div class="ps-preloader" id="preloader">
        <div class="ps-preloader-section ps-preloader-left"></div>
        <div class="ps-preloader-section ps-preloader-right"></div>
    </div>
    <div class="ps-category--mobile">
        <div class="category__header">
            <div class="category__title">All Departments</div><span class="category__close"><i class="icon-cross"></i></span>
        </div>
        <div class="category__content">
            <ul class="menu--mobile">
                <li class="daily-deals category-item"><a href="flash-sale">Daily Deals</a></li>
                <li class="category-item"><a href="shop-category">Top Promotions</a></li>
                <li class="category-item"><a href="shop-category">New Arrivals</a></li>
                <li class="menu-item-has-children category-item"><a href="shop-category">Fresh</a><span class="sub-toggle"><i class="icon-chevron-down"></i></span>
                    <ul class="sub-menu">
                        <li><a href="shop">Meat & Poultry</a></li>
                        <li><a href="shop">Fruit</a></li>
                        <li><a href="shop">Vegetables</a></li>
                        <li><a href="shop">Milks, Butter & Eggs</a></li>
                        <li><a href="shop">Fish</a></li>
                        <li><a href="shop">Frozen</a></li>
                        <li><a href="shop">Cheese</a></li>
                        <li><a href="shop">Pasta & Sauce</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children category-item"><a href="shop-category">Food Cupboard</a><span class="sub-toggle"><i class="icon-chevron-down"></i></span>
                    <ul class="sub-menu">
                        <li><a href="shop">Crisps, Snacks & Nuts</a></li>
                        <li><a href="shop">Breakfast Cereals</a></li>
                        <li><a href="shop">Tins & Cans</a></li>
                        <li><a href="shop">Chocolate & Sweets</a></li>
                    </ul>
                </li>
                <li class="category-item"><a href="shop-category">Bakery</a></li>
                <li class="category-item"><a href="shop-category">Frozen Foods</a></li>
                <li class="menu-item-has-children category-item"><a href="shop-category">Ready Meals</a><span class="sub-toggle"><i class="icon-chevron-down"></i></span>
                    <ul class="sub-menu">
                        <li><a href="shop">Traditional British</a></li>
                        <li><a href="shop">Indian</a></li>
                        <li><a href="shop">Italian</a></li>
                        <li><a href="shop">Chinese</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children category-item"><a href="shop-category">Drinks, Tea &amp; Coffee</a><span class="sub-toggle"><i class="icon-chevron-down"></i></span>
                    <ul class="sub-menu">
                        <li><a href="shop">Tea & Coffee</a></li>
                        <li><a href="shop">Hot Drinks</a></li>
                        <li><a href="shop">Fizzy Drinks</a></li>
                        <li><a href="shop">Water</a></li>
                    </ul>
                </li>
                <li class="category-item"><a href="shop-category">Beer, Wine & Spirits</a></li>
                <li class="category-item"><a href="shop-category">Baby & Child</a></li>
                <li class="category-item"><a href="shop-category">Kitchen & Dining</a></li>
            </ul>
        </div>
    </div>
    <nav class="navigation--mobile">
        <div class="navigation__header">
            <div class="navigation__select">
                <div class="languages"><a class="nav-top-link" href="javascript:void(0);"> <span class="current-languages">English</span><i class="icon-chevron-down"></i></a>
                    <div class="select--dropdown">
                        <ul class="select-languages">
                            <li class="active language-item" data-value="English"><a href="javascript:void(0);">English</a></li>
                            <li class="language-item" data-value="Brunei"><a href="javascript:void(0);">Brunei</a></li>
                            <li class="language-item" data-value="Armenia"><a href="javascript:void(0);">Armenia</a></li>
                        </ul>
                    </div>
                </div>
                <div class="currency"><a class="nav-top-link" href="javascript:void(0);"> <span class="current-currency">USD</span><i class="icon-chevron-down"></i></a>
                    <div class="select--dropdown">
                        <ul class="select-currency">
                            <li class="active currency-item" data-value="USD"><a href="javascript:void(0);">USD</a></li>
                            <li class="currency-item" data-value="VND"><a href="javascript:void(0);">VND</a></li>
                            <li class="currency-item" data-value="EUR"><a href="javascript:void(0);">EUR</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="navigation-title">
                <button class="close-navbar-slide"><i class="icon-arrow-left"></i></button>
                <div><span> <i class="icon-user"></i>Hi, </span><span class="account">Morgan Averill</span><a class="dropdown-user" href="#" id="dropdownAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-chevron-down"></i></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownAccount"><a class="dropdown-item" href="#"><b>My Account</b></a><a class="dropdown-item" href="#">Dashboard</a><a class="dropdown-item" href="#">Account Setting</a><a class="dropdown-item" href="cart">Orders</a><a class="dropdown-item" href="wishlist">Wishlist</a><a class="dropdown-item" href="#">Shipping Address</a><a class="dropdown-divider"></a><a class="dropdown-item" href="#"><b>Vendor Setting</b></a><a class="dropdown-item" href="#">Dashboard</a><a class="dropdown-item" href="#">Products</a><a class="dropdown-item" href="cart">Orders</a><a class="dropdown-item" href="#">Settings</a><a class="dropdown-item" href="vendor-store.html">View Store</a><a class="dropdown-divider"></a><a class="dropdown-item" href="#"><i class="icon-exit-left"></i>Log out</a></div>
                </div>
            </div>
        </div>
        <div class="navigation__content">
            <ul class="menu--mobile">
                <li class="menu-item-has-children"><a href="home">Home</a></li>
                <li class="menu-item-has-children"><a href="shop">Shop</a></li>
                <!-- <li class="menu-item-has-children"><a href="#">Pages</a><span class="sub-toggle"><i class="icon-chevron-down"></i></span>
                    <ul class="sub-menu">
                        <li><a href="vendor-registration">Vendor Register</a></li>
                        <li><a href="become-a-vendor.html">Become a Vendor</a></li>
                        <li><a href="store-list.html">Dokan Store List</a></li>
                        <li><a href="vendor-store.html">Dokan Vendor Store</a></li>
                        <li><a href="flash-sale.html">Flash Sale</a></li>
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="faq.html">FAQs</a></li>
                        <li><a href="404-not-found.html">404 Not Found</a></li>
                        <li><a href="coming-soon.html">Coming Soon</a></li>
                    </ul>
                </li> -->
                <li class="menu-item-has-children"><a href="about">About Us</a>
                  <li class="menu-item-has-children"><a href="contact">Contact</a>
                  <li class="menu-item-has-children"><a href="blogs">Blogs</a>
                    <li class="menu-item-has-children"><a href="faqs">Faq</a>
                    <!-- <ul class="sub-menu">
                        <li><a href="blog-default.html">01 Blog-Default</a></li>
                        <li><a href="blog-thumbnail.html">Blog Small Thumbnail</a></li>
                        <li><a href="blog-gird.html">Blog Gird</a></li>
                        <li><a href="blog-list.html">Blog Listing</a></li>
                        <li><a href="single-post.html">Single Post without Sidebar</a></li>
                        <li><a href="single-post-sidebar.html">Single Post with Sidebar</a></li>
                    </ul> -->
                </li>
                <!-- <li class="menu-item-has-children"><a href="product">Brand</a></li>
                <li class="menu-item-has-children"><a href="flash-sale">Flash Sale</a></li> -->
            </ul>
            <!-- <ul class="menu--mobile">
                <li class="daily-deals"><a>daily deals</a></li>
            </ul> -->
        </div>
        <div class="navigation__footer">
            <ul class="menu--icon">
                <li class="footer-item"><a class="footer-link" href="#"><i class="icon-history2"></i><span>Recent viewed product</span></a></li>
                <li class="footer-item"><a class="footer-link" href="merchant"><i class="icon-cube"></i><span>Become a vendor</span></a></li>
                <li class="footer-item"><a class="footer-link" href="#"><i class="icon-question-circle"></i><span>Help & Contact</span></a></li>
                <li class="footer-item"><a class="footer-link" href="#"><i class="icon-telephone"></i><span>HOTLINE: <span class='text-success'>(+1) 970 978-6290</span> (Free)</span></a></li>
            </ul>
        </div>
    </nav>
