<main class="no-main">
  <section class="section--blogGird ps-page--business">
      <div class="container">
          <div class="blog--header">
              <h2 class="page__title">Blog & News</h2>
              <div class="ps-breadcrumb">
                  <div class="container">
                      <ul class="ps-breadcrumb__list">
                          <li class="active"><a href="home">Home</a></li>
                          <li><a class="p-2" href="javascript:void(0);">Blog &amp; News</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="blog__content">
              <div class="blog__list">
                  <ul class="blog__type">
                      <li class="active"><a href="javascript:void(0);">All</a></li>
                      <li><a href="javascript:void(0);">Shopping</a></li>
                      <li><a href="javascript:void(0);">Store updates</a></li>
                      <li><a href="javascript:void(0);">recipes</a></li>
                      <li><a href="javascript:void(0);">news</a></li>
                      <li><a href="javascript:void(0);">Foods</a></li>
                      <li><a href="javascript:void(0);">Family</a></li>
                      <li><a href="javascript:void(0);">House</a></li>
                  </ul>
              </div>
              <div class="blog__post">
                  <div class="row">
                      <div class="col-12 col-md-6 col-lg-4">
                          <div class="blog--gird">
                              <div class="post__img"><a href="single-post"><img src="assets/img/blogs/blog_default_1.jpg" alt="alt" /></a></div>
                              <div class="post__content">
                                  <div class="post__archives"><a class="archive__item post__type" href="vendor-store.html"><i class="icon-folder"></i>Shopping</a><span class="archive__item"><i class="icon-bubbles"></i>24</span><span class="archive__item">Apr 14, 2020 by <a class="blog__auth" href="store-list.html">Admin</a></span></div><a class="post__title" href="single-post">Forget Food: 10 Reasons Why You No Longer Need It</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                          <div class="blog--gird">
                              <div class="post__img"><a href="single-post"><img src="assets/img/blogs/blog_default_2.jpg" alt="alt" /></a></div>
                              <div class="post__content">
                                  <div class="post__archives"><a class="archive__item post__type" href="vendor-store.html"><i class="icon-folder"></i>Foods</a><span class="archive__item"><i class="icon-bubbles"></i>13</span><span class="archive__item">Apri 23, 2020 by <a class="blog__auth" href="store-list.html">Asima</a></span></div><a class="post__title" href="single-post">The Evolution of Food</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                          <div class="blog--gird">
                              <div class="post__img"><a href="single-post"><img src="assets/img/blogs/blog_default_3.jpg" alt="alt" /></a></div>
                              <div class="post__content">
                                  <div class="post__archives"><a class="archive__item post__type" href="vendor-store.html"><i class="icon-folder"></i>Foods, News</a><span class="archive__item"><i class="icon-bubbles"></i>4</span><span class="archive__item">Apri 23, 2020 by <a class="blog__auth" href="store-list.html">Tauno</a></span></div><a class="post__title" href="single-post">The Intermediate Guide to Food</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                          <div class="blog--gird">
                              <div class="post__img"><a href="single-post"><img src="assets/img/blogs/blog_default_4.jpg" alt="alt" /></a></div>
                          </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                          <div class="blog--gird">
                              <div class="post__img"><a href="single-post"><img src="assets/img/blogs/blog_default_5.jpg" alt="alt" /></a></div>
                              <div class="post__content">
                                  <div class="post__archives"><a class="archive__item post__type" href="vendor-store.html"><i class="icon-folder"></i>Family</a><span class="archive__item"><i class="icon-bubbles"></i>214</span><span class="archive__item">Mar 23, 2020 by <a class="blog__auth" href="store-list.html">Aleksandr</a></span></div><a class="post__title" href="single-post">The Biggest Problem With Food, And How You Can Fix It</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                          <div class="blog--gird">
                              <div class="post__img"><a href="single-post"><img src="assets/img/blogs/blog_default_6.jpg" alt="alt" /></a></div>
                              <div class="post__content">
                                  <div class="post__archives"><a class="archive__item post__type" href="vendor-store.html"><i class="icon-folder"></i>Recipes</a><span class="archive__item"><i class="icon-bubbles"></i>213</span><span class="archive__item">Mar 23, 2020 by <a class="blog__auth" href="store-list.html">Serena</a></span></div><a class="post__title" href="single-post">Chicken Makhani with Basmati Rice and Garlic and Coriander Naan</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                          <div class="blog--gird">
                              <div class="post__img"><a href="single-post"><img src="assets/img/blogs/blog_default_7.jpg" alt="alt" /></a></div>
                              <div class="post__content">
                                  <div class="post__archives"><a class="archive__item post__type" href="vendor-store.html"><i class="icon-folder"></i>Foods, Family</a><span class="archive__item"><i class="icon-bubbles"></i>35</span><span class="archive__item">Mar 22, 2020 by <a class="blog__auth" href="store-list.html">Valeria</a></span></div><a class="post__title" href="single-post">15 Surprising Stats About Food</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                          <div class="blog--gird">
                              <div class="post__img"><a href="single-post"><img src="assets/img/blogs/blog_default_8.jpg" alt="alt" /></a></div>
                              <div class="post__content">
                                  <div class="post__archives"><a class="archive__item post__type" href="vendor-store.html"><i class="icon-folder"></i>Family</a><span class="archive__item"><i class="icon-bubbles"></i>0</span><span class="archive__item">Mar 21, 2020 by <a class="blog__auth" href="store-list.html">Gregg</a></span></div><a class="post__title" href="single-post">Think You're Cut Out for Doing Food? Take This Quiz</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4">
                          <div class="blog--gird">
                              <div class="post__img"><a href="single-post"><img src="assets/img/blogs/blog_default_9.jpg" alt="alt" /></a></div>
                              <div class="post__content">
                                  <div class="post__archives"><a class="archive__item post__type" href="vendor-store.html"><i class="icon-folder"></i>Store updates</a><span class="archive__item"><i class="icon-bubbles"></i>8</span><span class="archive__item">Mar 15, 2020 by <a class="blog__auth" href="store-list.html">Rien</a></span></div><a class="post__title" href="single-post">10 Things Everyone Hates About Food</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="ps-pagination blog--pagination">
                  <ul class="pagination">
                      <li class="chevron"><a href="#"><i class="icon-chevron-left"></i></a></li>
                      <li class="active"><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li class="chevron"><a href="#"><i class="icon-chevron-right"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </section>
</main>
