<div class="tab_head">
  <div class="row">
    <div class="col-md-12">
      <h3 class="tab_title"><i class="bi bi-person-fill"></i> Account Details</h3>
      <p class="tab_desc">Manage your account details.</p>
    </div>
  </div>
</div>

<!-- <p>Hello Madison Ruiz (not Madison Ruiz? <a class="b-bottom" href="/logout">Logout</a> )

  From your account dashboard you can view your Recent Orders, manage your shipping and billing addesses and edit your password and account details</p> -->

  <div class="row">
    <div class="col-md-6">
      <div class="single_form form-group">
        <label>First Name<span class="color-red">*</span></label>
        <input type="text" class="form-control form-control-lg" name="fname" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="single_form form-group">
        <label>Last Name<span class="color-red">*</span></label>
        <input type="text" class="form-control form-control-lg" name="lname" />
      </div>
    </div>
    <div class="col-md-12">
      <div class="single_form form-group">
        <label>Display Name<span class="color-red">*</span></label>
        <input type="text" class="form-control form-control-lg" name="dname" />
      </div>
    </div>
    <div class="col-md-12">
      <div class="single_form form-group">
        <label>Email Address<span class="color-red">*</span></label>
        <input type="email" class="form-control form-control-lg" name="email" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="both_btns mt-5">
        <button class="btn btn-success btn-lg mr-3" href="#" >Save Changes</button>
        <button class="btn btn-primary btn-lg" href="#" routerLink="/reset-password" >Reset Password</button>
      </div>
    </div>
  </div>

