<div class="tab_head">
  <div class="row">
    <div class="col-md-12">
      <h3 class="tab_title"><i class="bi bi-speedometer2"></i> Dashboard</h3>
      <p class="tab_desc">Welcome to your account dashboard.</p>
    </div>
  </div>
</div>

<!-- <p>Hello Madison Ruiz (not Madison Ruiz? <a class="b-bottom" href="/logout">Logout</a> )

  From your account dashboard you can view your Recent Orders, manage your shipping and billing addesses and edit your password and account details</p> -->

  <div class="row">
    <div class="col-md-12">
        <div class="orders_shops">
            <div class="ordersheader">
                <h4>Shops you ordered from</h4>
            </div>
            <div class="ordersbody">
                <table class="table table-borderless orderstable">
                    <tbody>
                        <tr>
                            <td class="logo">
                              <img src="assets/img/pages/store_list_logo1.jpg" alt="">
                            </td>
                            <td>
                              <h4>Emmett Wenster</h4>
                              <p>123, Another Test Street, City, State - 123456</p>
                              <div class="item__phone"> <i class="fa fa-phone"></i>(766) 410-0625</div>
                            </td>
                            <td class="text-right">
                              <a href="#" class="btn btn-success btn-lg">View Order</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="logo">
                              <img src="assets/img/pages/store_list_logo3.jpg" alt="">
                            </td>
                            <td>
                              <h4>Shannan Yu</h4>
                              <p>123, Test Street, City, State - 000000</p>
                              <div class="item__phone"> <i class="fa fa-phone"></i>(201) 566-4856</div>
                            </td>
                            <td class="text-right">
                              <a href="#" class="btn btn-success btn-lg">View Order</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-4">
      <div class="single_dashlink">
        <a href="/profile#orders">
          <i class="bi bi-cart"></i>
          <h3>Orders</h3>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="single_dashlink">
        <a href="/profile#addresses">
          <i class="bi bi-geo-alt"></i>
          <h3>Addresses</h3>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="single_dashlink">
        <a href="/profile#addresses">
          <i class="bi bi-person-fill"></i>
          <h3>Account Details</h3>
        </a>
      </div>
    </div> -->
  </div>

  <!-- <div class="row">
    <div class="col-md-12">
      <div class="reset_btn">
        <button class="btn btn-success btn-lg" href="#" routerLink="/reset-password" >Reset Password</button>
      </div>
    </div>
  </div> -->

