<div class="tab_head">
  <div class="row">
    <div class="col-md-12">
      <h3 class="tab_title"><i class="bi bi-cart"></i> Orders</h3>
      <p class="tab_desc">Your recent orders will be displayed here.</p>
    </div>
  </div>
</div>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col"><strong>Order</strong></th>
      <th scope="col"><strong>Date</strong></th>
      <th scope="col"><strong>Status</strong></th>
      <th scope="col"><strong>Total</strong></th>
      <th scope="col"><strong>Actions</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">#851</th>
      <td>Jun 26, 2021</td>
      <td>
        <span class="badge badge-pill badge-success">Completed</span>
      </td>
      <td>$243 for 1 item</td>
      <td>
        <a href="#" class="btn btn-success btn-lg">View</a>
      </td>
    </tr>
    <tr>
      <th scope="row">#973</th>
      <td>Apr 10, 2021</td>
      <td><span class="badge badge-pill badge-danger">Failed</span></td>
      <td>$1140 for 3 items</td>
      <td>
        <a href="#" class="btn btn-success btn-lg">View</a>
      </td>
    </tr>
    <tr>
      <th scope="row">#999</th>
      <td>Mar 24, 2021</td>
      <td><span class="badge badge-pill badge-warning">Processing</span></td>
      <td>$1514 for 2 items</td>
      <td>
        <a href="#" class="btn btn-success btn-lg">View</a>
      </td>
    </tr>
  </tbody>
</table>