
<main class="no-main">
  <div class="ps-breadcrumb">
      <div class="container">
          <ul class="ps-breadcrumb__list">
              <li class="active"><a href="home">Home</a></li>
              <li><a class="p-2" href="javascript:void(0);">My Account</a></li>
          </ul>
      </div>
  </div>
  <section class="section--login">
      <div class="container">
          <div class="row">
              <div class="col-12 col-lg-12">
                  <div class="login__box">
                      <div class="login__header">
                          <h3 class="login__login">Change Password</h3>
                      </div>
                      <div class="login__content">
                          <form #Changepassword=ngForm (ngSubmit)="onSubmit()">

                          <div class="input-group">
                              <input class="form-control" type="email" [(ngModel)]="form.email" name="email" placeholder="Email" required>

                          </div>
                          <div class="text-danger" [hidden]="!error.email" >
                            {{error.email}}
                          </div>
                          <div class="input-group group-password">
                              <input class="form-control" type="password" name="password" [(ngModel)]="form.password"   placeholder="Password" required>

                          </div>

                          <div class="text-danger" [hidden]="!error.password" >
                            {{error.password}}
                          </div>

                          <div class="input-group group-password">
                            <input class="form-control" type="password"  name="password_confirmation" [(ngModel)]="form.password_confirmation"  placeholder="Confirm Password" required>

                        </div>
                          <button class="btn btn-login" type="submit" [disabled]="!Changepassword.valid" >Change Password</button>
                        </form>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </section>
</main>
