.links a {
  display: block;
}
.links-group.items {
  border: 1px solid #dcd6d6;
  /* padding: 5px 10px; */
}
.links .link {
  padding: 15px 10px;
  border-bottom: 1px solid #d8d4d4;
}
.link a{
  display: flex;
  justify-content: space-between;
}
.link:hover{
  background-color: #dcd6d6;
}
.links .link:last-child{
  border: none;
}
.round
{
  border-radius: 50%;
}

.details.col-8 {
  align-self: center;
}
.link a i{
  /* padding-top: 6px; */
  font-size: 18px;
}
.link.active{
  background-color: #26901b;
    color: white;

}
.link.active a i
{
  color: white;
}

.sidebar-middle .heading{
  padding: 15px 10px;
  background: #f7f7f7;
  border: 1px solid #d8d4d4;
  border-bottom: none;
}
.sidebar-bottom .heading{
  padding: 15px 10px;
  background: #f7f7f7;
  border-bottom: 1px solid #d8d4d4;
}
.sidebar-bottom{
  margin-top: 30px;
}
.store_headline{
  border: 1px solid #dcd6d6;
}
.sidebar-bottom .main_offer{
  padding: 15px 10px;
}