
<div class="ps-main_sidebar">
  <div class="ps-sidebar">
      <div class="sidebar-middle bg-white">
        <div class="heading">
          <h4 class="mb-0">Categories</h4>
        </div>
        <div class="links-group items">
          <div class="links">
            <div class="link">
                <a href="/store-list#readymeals">Ready Meals <i class="bi bi-chevron-right"></i></a>
            </div>
            <div class="link">
              <a href="/store-list#drinks" >Drinks, Tea & Coffee <i class="bi bi-chevron-right"></i></a>
            </div>
            <div class="link">
              <a href="/store-list#kitchen">Kitchen & Dining<i class="bi bi-chevron-right"></i></a>
            </div>
            <div class="link">
              <a href="/store-list#electronics">Consumer Electronics <i class="bi bi-chevron-right"></i></a>
            </div>
            <div class="link">
              <a href="/store-list#stationary" >Student Stationery <i class="bi bi-chevron-right"></i></a>
            </div>
            <div class="link">
              <a href="/store-list#food" >Food Cupboard <i class="bi bi-chevron-right"></i></a>
            </div>
            <div class="link">
              <a href="/store-list#vegetable">Fresh Foods<i class="bi bi-chevron-right"></i></a>
            </div>
          </div>
        </div>
     </div>
     <div class="sidebar-bottom bg-white">
      <div class="store_headline">
        <div class="heading">
          <h4 class="mb-0">Offers/Deals <span class="badge badge-danger">Latest</span></h4>
        </div>
        <div class="main_offer">
          <p>Flat 20% Off on the Latest Stock.</p>
        </div>
      </div>
    </div>
  </div>
</div>
